<a href="https://colab.research.google.com/github/hanstosberg/Course-4/blob/main/Bigdata/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 2

In [ ]:
print('Выберите фигуру')
print('1) Треугольник')
print('2) Прямоугольник')
print('3) Круг')
figure = int(input())
if figure == 1:
  h = int(input('Введите длинну высоты '))
  l = int(input('Введите длинну стороны '))
  S = h*l/2
  L = {'Треугольник':S}
if figure == 2:
  m = int(input('Введите длинну '))
  n = int(input('Введите ширину '))
  S = m*n
  L = {'Прямоугольник':S}
if figure == 3:
  R = int(input('Введите радиус '))
  S = 3.14 * 2*R
  L = {'Круг':S}
print(L)

Выберите фигуру
1) Треугольник
2) Прямоугольник
3) Круг
3
Введите радиус 6
{'Круг': 37.68}

Задание 3

In [ ]:
first = int(input('Введите первое число '))
second = int(input('Введите второе число '))
operation = str(input('Введите операцию '))
if operation == '+':
  result = first + second
if operation == '-':
  result = first - second
if operation == '/':
  result = first / second
if operation == '//':
  result = first//second
if operation == 'abs':
  if first < 0:
    first *= -1
  if second < 0:
    second *= -1
  result = {first, second}
if operation == 'pow' or operation == '**':
  result = pow(first,second)
print('Результат: ')
print(result)

Введите первое число -2
Введите второе число 4
Введите операцию **
Результат:
16

Задание 4

In [ ]:
total_sum = 0
square_sum = 0
num_count = 0

while True:
  number = int(input("Введите число: "))
  total_sum += number
  if total_sum == 0:
    break
  else:
    square_number = number ** 2
    square_sum += square_number



print(f"\nСумма квадратов введенных чисел: ", square_sum)

Введите число: 5
Введите число: -3
Введите число: -2

Сумма квадратов введенных чисел:  34

Задание 5

In [ ]:
def repeating_sequence(n):
    sequence = []
    current_num = 0
    count_to_add = 0

    while len(sequence) < n:
        if count_to_add == 0:
            current_num += 1
            count_to_add = current_num
        print(current_num)
        sequence.extend([current_num])
        count_to_add -= 1


# Запуск программы
repeating_sequence(int(input("Введите длину последовательности: ")))

Введите длину последовательности: 7
1
2
2
3
3
3
4

Задание 6

In [ ]:
from collections import defaultdict


A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

result_defaultdict = defaultdict(int)

for key, value in zip(B, A):
    result_defaultdict[key] += value

result_defaultdict

{'a': 17, 'b': 11, 'c': 17}

Задание 7

In [ ]:
!pip install scikit-learn pandas
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
import pandas as pd

data: dict[str, pd.DataFrame]
df: pd.DataFrame = data["frame"]
df

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.3.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

Задание 8

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

Задание 9

In [ ]:
df.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

Задание 10

In [ ]:
df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26,1.75000
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20,1.93600
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21,1.53000
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71,2.12500
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21,1.67600
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20,1.62500
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15,2.25000
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41,2.43800
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41,5.00001
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41,2.75000
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41,2.25000
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42,3.25000
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41,2.60300

Задание 11

In [ ]:
(
    df['MedHouseVal'].min(),
    df['MedHouseVal'].max(),
)

(0.14999, 5.00001)

Задание 12

In [ ]:
df.apply(lambda x: x.mean())

MedInc            3.870671
HouseAge         28.639486
AveRooms          5.429000
AveBedrms         1.096675
Population     1425.476744
AveOccup          3.070655
Latitude         35.631861
Longitude      -119.569704
MedHouseVal       2.068558
dtype: float64

Задание 1*

In [ ]:
alphabet = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
         'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
         'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
         'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
         'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
         'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
         'y': '-.--', 'z': '--..'}

text = "Ignition sequence start"
result = ""

for word in text.split():
    for letter in word.lower():
        result += alphabet[letter] + " "
    result += "\n"

print(result)

.. --. -. .. - .. --- -.
… . --.- ..- . -. -.-. .
… - .- .-. -

Задание 2*

In [ ]:
def registration_system(queries):
    name_counts = {}
    results = []

    for name in queries:
        if name not in name_counts:
            name_counts[name] = 1
            results.append("OK")

        else:
            i = name_counts[name]
            new_name = f"{name}{i}"
            while new_name in name_counts:
                i += 1
                new_name = f"{name}{i}"

            name_counts[name] = i + 1
            name_counts[new_name] = 1
            results.append(new_name)

    return results

n = int(input())
queries = [input().strip()[:32] for _ in range(n)]
results = registration_system(queries)
print("result: ")
for result in results:
    print(result)

3
b
b
b
result:
OK
b1
b2

Задание 3*

In [ ]:
files = {

}


commands = {
    "write": "w",
    "execute": "x",
    "read": "r",
}
file_n = int(input())

for n in range(file_n):
    s = input().split()
    files[s[0]] = s[1:]

cmd_n = int(input())

for n in range(cmd_n):
    s = input().split()
    command = commands[s[0]]
    file = s[1]
    if file in files and command in files.get(file):
        print("OK")
    else:
        print("ERROR")

1
book.txt r w
2
read book.txt
OK
execute book.txt
ERROR